body {
  text-align: center;
  background-color: #011F3F;
}

#level-title, h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  2%;
  color: #FEF2BF;
}

.key{
  font-size: 1.5rem;
}

.btnStart{
  display: none;
}


.container {
  display: block;
  width: 100%;
  margin: auto;

}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


@media (max-width: 500px ){

  .btn {
    height: 100px;
    width: 100px;
    margin: 15px;
  }

  .btnStart {
    display: block;
    margin: 25px auto;
    font-size: 1.5rem;
    padding: 10px 15px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    line-height: 2;
    border: 5px solid black;
    border-radius: 15%;
  }

  #level-title , h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin:  10%;
    color: #FEF2BF;
  }

  .key{
    display: none;
  }


}
